#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;
    border-color: black;
}

#navbar ul {
    height: 88px;
    padding: 0px;
    overflow-y:auto;
    overflow-x:hidden;
}

#nav-bar li{
    color:purple;
    border-top: 1px solid;
    list-style: none;
    position:relative;
    width: 100%;
} 

#navbar a{
    display: block;
    padding:10px 30px;
    color:purple;
    text-decoration:none;
    cursor: pointer;
}


body {
    min-width: 290px;
    color: grey;
    background-color: #ffffff;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

header {
    margin:10px;
    text-align:center;
    color: black;
    text-decoration: solid;
}

#main-doc header {
    text-align:left;
    margin: 0px;
}


#main-doc{
    position: absolute;
    margin-left: 310px;
    padding: 20px;
    margin-bottom: 110px;
}

section article {
    color: gray;
    margin: 15px;
    font-size: 0.96em;
}
@media(max-width: 15000px){
code {
    color: gray;
 }
}
